body,
html,
#root {
    height: 100%;
    width: 100%;
    
}

#root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    '. header info'
    '. . box';
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(9, 51, 51);
    background-attachment: fixed;
    background-image: url('https://i.pinimg.com/originals/91/d6/5b/91d65b94931fd89b7c8243a3b12b497c.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container {
    grid-area: box;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 2rem;
    margin-right: 1rem;
    justify-self: center;
}

#display {
    border: 2px solid black;
    padding: 15px;
    background-color: rgba(255, 235, 205, 0.397);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
}

#info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}
#info h2 {
    grid-area: header;
    justify-self: start;
}

#info ul {
    list-style: none;
}

span {
    font-weight: 700;
    text-decoration: 2px solid underline black;
}

label {
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}

#sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.weightSlider {
    display: flex;
    flex-direction: column;
    width: 300px;
}


#label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#experience-level {
    width: 100px;
}
.text {
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    display: block;
}
#result {
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* button */
#calculate-button {
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    border: 2px solid black;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}


